body.dark {
  background-color: #171823;
  color: #c8cbe7;
}

body.light {
  background-color: #f6f6f8;
  color: #494c6b;
}

.header {
  background-image: linear-gradient(#3f5efb94, #5a5ae579, #9353bb93, #fc466a82), url("./assets/images/ToDoListBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner {
  width: 65%;
}

input.form-control {
  background-color: #25273d;
  border: none;
}

input.form-control::placeholder {
  color: rgb(129, 129, 129);
}

input.form-control:focus {
  box-shadow: none;
  background-color: #25273d;
  color: white;
}

body.light .todoCard,
body.light input.form-control {
  background-color: white;
  color: #494c6b;
}

button {
  background-color: transparent;
  border: none;
}

footer a:hover {
  opacity: 0.8;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.text-vercel {
  font-size: 1.2em;
  font-weight: bold;
}

.todoCard {
  background-color: #25273d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.todoCard ul li {
  border-bottom: 1px solid rgb(73, 76, 107);
}

.todoCard .right {
  color: rgb(94, 98, 138);
}

.todoCard .right .image {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-image: linear-gradient(to left, #3f5efb, #5a5ae5, #9353bb, #fc466a);
  cursor: pointer;
}

.todoCard .left img {
  width: 60px;
  cursor: pointer;
}

button.complete,
button.delete {
  padding: 8px 12px;
  background-image: linear-gradient(to left, #3f5efb, #5a5ae5, #9353bb, #fc466a);
  cursor: pointer;
  color: rgb(229, 227, 227);
  font-weight: 400;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

button.complete:hover,
button.delete:hover {
  background-image: linear-gradient(to left, #2a3bc4, #3a3ab5, #6a3a8c, #cc3555);
}
.total-n .right p{
  color: #25273d;
  font-size: 18px;
  font-weight: 500;
}
.total-n .left p{
  font-size: 18px;
  cursor: pointer;
}
.active{
  color: #2e1d39;
}
body.light .todoCard .right {
  color: #9495a5;
}

body.light .total-n .right p {
  color: #494c6b;
}

body.light .active {
  color: #3a7bfd;
}
.footer{
  background-color: #171823;
  color: white;
}
body.light .footer{
 background-color: rgb(223, 223, 223);
  color: #494c6b;
}
body.light ul.contact{
  width: fit-content;
  background-color: #25273d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding-inline: 10px;
  margin-left: auto;
}